/sourcecode/target/
/sourcecode/!.mvn/wrapper/maven-wrapper.jar
/sourcecode/**/src/main/**/target/
/sourcecode/**/src/test/**/target/

### STS ###
/sourcecode/.apt_generated
/sourcecode/.classpath
/sourcecode/.factorypath
/sourcecode/.project
/sourcecode/.settings
/sourcecode/.springBeans
/sourcecode/.sts4-cache

### IntelliJ IDEA ###
/sourcecode/.idea
/sourcecode/.metadata
/sourcecode/*.iws
/sourcecode/*.iml
/sourcecode/*.ipr

### NetBeans ###
/sourcecode/nbproject/private/
/sourcecode/nbbuild/
/sourcecode/dist/
/sourcecode/nbdist/
/sourcecode/.nb-gradle/
/sourcecode/build/
/sourcecode/**/src/main/**/build/
/sourcecode/**/src/test/**/build/

### VS Code ###
/sourcecode/.vscode/

### macOS ###
/sourcecode/.DS_Store
